@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

:root {
  --primary: #624B78;
  --primary-dark: #45375a;
  --secondary: #AC95C1;
  --secondary-dark: #8f7ca5;
  --accent: #EEE6F6;
  --text: #2c2135;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-baskerville {
  font-family: 'Libre Baskerville', serif;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-secondary-dark {
  background-color: var(--secondary-dark);
}

.bg-accent {
  background-color: var(--accent);
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-dark {
  color: var(--text);
}

.border-primary {
  border-color: var(--primary);
}

.border-secondary {
  border-color: var(--secondary);
}
.text-primary-dark { color: var(--primary-dark); }
